<!DOCTYPE html>
<html>
    <head>
        <title>Quiz</title>
        <style >
            body{background-color: rgb(200, 166, 166);}
            .center{margin-left: auto;margin-right: auto;
            }
        </style>
    </head>
    <body>
        
            <div class="form-control">
                <form>
                    <h1 style="text-align:center">Quiz ABC</h1><br>
                    <table class="center">
                        <tr><td><label for="question">Question</label></td><td> <label for="recommed-1">
                            <input type="radio"
                                   id="recommed-1"
                                   name="recommed">option1</input></label></td><td><label for="recommed-2">
                                    <input type="radio"
                                           id="recommed-2"
                                           name="recommed">option2</input></label></td></tr><br>
                        <tr><td></td><td><label for="recommed-3">
                            <input type="radio"
                                   id="recommed-3"
                                   name="recommed">option3</input></label></td><td><label for="recommed-3">
                                    <input type="radio"
                                           id="recommed-4"
                                           name="recommed">option4</input></label></td></tr>
                    <tr><td><button type="Submit" class="btn btn-primary">Submit Quiz</button></td></tr>
                    </table><br>
                    
                    
                    
                
            
                </form>
            </div>
                
    </body>
</html>
