<!DOCTYPE html>
<html>
    <head>
        <title>Quiz</title>
        <style >
            body{background-color: rgb(200, 166, 166);}
            .center{margin-left: auto;margin-right: auto;
            }
        </style>
    </head>
    <body>
            <div class="form-control">
                <form action="">
                    <h1 style="text-align:center">Quiz ABC</h1><br>
                    <table class="center">
                        {% for question in questions %}
                       <form action="/save/{{question[0]}}/" method="POST">
                        <tr><td><label for="question">{{question[0]}}</label></td><td> <label for="recommed-1">
                            <input type="radio"
                                   id="recommed-1"
                                   name="recommed">A. {{question[1]}}</input></label></td><td><label for="recommed-2">
                                    <input type="radio"
                                           id="recommed-2"
                                           name="recommed">B. {{question[2]}}</input></label></td></tr><br>
                        <tr><td></td><td><label for="recommed-3">
                            <input type="radio"
                                   id="recommed-3"
                                   name="recommed">C. {{question[3]}}</input></label></td><td><label for="recommed-3">
                                    <input type="radio"
                                           id="recommed-4"
                                           name="recommed">D. {{question[4]}}</input></label></td></tr>
                            <tr><td><button type="Submit" class="btn btn-primary">Save Answer</button></td></tr>
                       </form>
                        {% endfor %}
                    <tr><td><button type="Submit" class="btn btn-primary">Submit Quiz</button></td></tr>
                    </table><br>
                </form>
            </div>
    </body>
</html>
