<!DOCTYPE html>
<html>
    <head>
        <title>Quiz</title>
        <style >
            body{background-color: rgb(200, 166, 166);}
            .center{margin-left: auto;margin-right: auto;
            }
        </style>
    </head>
    <body>
            <div class="form-control">
                <form action="/{{quiz_name}}/{{name}}" method="POST">
                    <h1 style="text-align:center">{{quiz_name}}</h1><br>
                    <table class="center">
                        {% for question in questions %}
                        <tr>
                            Q . {{question[0]}}
                            <br>
                            A. {{question[1]}}
                            <br>
                            B. {{question[2]}}
                            <br>
                            C . {{question[3]}}
                            <br>
                            D . {{question[4]}}
                            <br>
                            <input type="text" name="{{question[0]}}" palceholder="answer">
                            <br>
                        </tr>
                       </form>
                        {% endfor %}
                    <tr><td><button type="Submit" class="btn btn-primary">Submit Quiz</button></td></tr>
                    </table><br>
                </form>
            </div>
    </body>
</html>
